*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: cadetblue;
}

/* the login div containing all the logos, text, and the form */
.login {
    background-color: whitesmoke;
    padding: 30px;
    margin: 15px 25%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 3px 10px rgb(36, 36, 36);
}

/* styling for rare book type logo */
.logo {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.logo img {
    width: 200px;
    margin-bottom: 10px;
}

/* styling for the heading in the login div */
.login h1 {
    text-align: center;
    margin: 20px 0 0 0;
    color: rgb(226, 126, 11);
}

/* styling for the login for the username and password div */
.unamePw{
    width: 85%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unamePw #username, .unamePw #password{
    height: 30px;
    border: solid 1px grey;
    border-radius: 3px;
    padding-left: 8px;
    display: flex;
}

.unamePw label{
    font-size: 17px;
    margin: 20px 0 5px 0;
}

/* styling for advisory text before sigin */
.warning{
    margin: 30px 0 ;
   text-align: center;
   color:rgb(144, 144, 144);
}

/* styling for sign in button and forgot password link */
.logintools{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logintools #signIn{
    width: 85%;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding: 9px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 20px;
    background-color: rgb(226, 126, 11);
}
#login:hover{
    background-color: cadetblue;
    color: black
}

.logintools a {
    text-decoration: none;
    text-align: center;
    color: cadetblue;
}

.hide {
    display: none;
}

/* create media query for mobile. try to show only div */




