body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 196, 165);
    font-family:Arial, Helvetica, sans-serif;
}
/* styling login div but the width overrides the centering*/
.login{
    padding: 80px;
    background:rgb(173, 104, 13);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    overflow: hidden;
}

/* put its directly in the center
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background:rgb(173, 104, 13);
    border-radius: 15px;
}*/

h2{
    text-align: center;
    color:cadetblue;
    margin: 5px;
    margin-bottom: 10px;
}

#homeimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 70%;
}

label{
    color: coral;
    font-size: 17px;
}

#username, #password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    display: flex;
}
  


#login{
    width: max-content;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: cadetblue;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
   
}

#login:hover{
  background-color: burlywood;
  color: black
}



h1{
    color:cadetblue;
    padding: 10px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(173, 104, 13);
  }
  

  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .navbar a.active {
    background-color: cadetblue;
    color: white;
  }
  
/*
  .navbar #search {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    display: flex;
    flex-direction: row-reverse;
    
  }*/

  .navbar .search-container {
    float: right;
  }

  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .navbar .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: cadetblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .navbar .search-container button:hover{
    background: burlywood;
  }

/* fix dropdown
.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown #dropdownbtn{
  font-size: 17px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin:0;
  

}

.dropdowncontent{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a{
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdowncontent a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdowncontent {
  display: block;
}*/

#logout{
  width: 100px;
  height: 25px;
  margin: auto;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background:cadetblue;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
#logout:hover{
  background-color: burlywood;
  color: black;

}
/*
.functions{
  max-width: fit-content;
  margin: auto;
  padding: 5px;
  margin-top: 100px;
  position: relative;
  border-radius: 10px;
  border:none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  cursor: pointer;
}

.functions:hover {
  background-color: burlywood;
  color: black;
}*/

.add_book_form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-right: 150px;
  margin-left: 150px;
}
.add_book_form button{
  border-radius: 5;
  width: 75px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.inventorylist{
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  margin-left: 20px;
  margin-right: 20px;

}

.inventorylist td, th{
  border: 1px ;
  border-bottom: 1px solid rgb(173, 104, 13);
  text-align: left;
  vertical-align: bottom;
  height: 50px;
  padding: 5px;
}

.inventorylist th{
  background-color: rgb(173, 104, 13);;
}

.inventorylist tr:hover{
  background-color: cadetblue;
}

#functions{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  cursor: pointer;
  margin-left:25%;
  margin-right:25%;
  padding: 10px;
  margin-top: 15px;
}

#functions button {
  position: relative;
  border-radius: 10px;
  background-color: cadetblue;
  border: none;
  padding: 8px;
  cursor: pointer;
}

#functions button:hover {
  background-color: burlywood;
  color: black;
}

#search-home{
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-home input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
 
}

#search-home button {
  float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: cadetblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
