*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background-color: whitesmoke;
}
.heading {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.heading img {
  width: 100px;
}

h2{
    text-align: center;
    color:black;
    margin: 5px;
    margin-bottom: 10px;
}
.homeimg{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeimg img{
  width: 60%;
}

h1{
    color:cadetblue;
    padding: 10px;
}

.navbar {
    overflow: hidden;
    background-color: cadetblue
  }
  

  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  .navbar a.active {
    background-color: rgb(226, 126, 11);;
    color: white;
  }

  .navbar .search-container {
    float: right;
  }

  .navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .navbar .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: rgb(226, 126, 11);;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .navbar .search-container button:hover{
    background: #ddd;
  }

/* fix dropdown
.dropdown{
  float: left;
  overflow: hidden;
}

.dropdown #dropdownbtn{
  font-size: 17px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin:0;
  

}

.dropdowncontent{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a{
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdowncontent a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdowncontent {
  display: block;
}*/

.logout{ 
  display: flex;
  align-items: flex-end;
}

#logout{
  width: 100px;
  height: 25px;
  margin: auto;
  bottom: 5%;
  right: 5%;
  background:cadetblue;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
#logout:hover{
  background-color:rgb(226, 126, 11);
  color: black;

}
/*
.functions{
  max-width: fit-content;
  margin: auto;
  padding: 5px;
  margin-top: 100px;
  position: relative;
  border-radius: 10px;
  border:none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  cursor: pointer;
}

.functions:hover {
  background-color: burlywood;
  color: black;
}*/

.add_book_form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-right: 150px;
  margin-left: 150px;
}
.add_book_form button{
  border-radius: 5;
  width: 75px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.inventorylistTable {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;

}

.inventorylistTable td, th{
  border: 1px ;
  border-bottom: 1px solid rgb(226, 126, 11);
  text-align: left;
  vertical-align: bottom;
  height: 50px;
  padding: 5px;
}

.inventorylistTable th{
  background-color: cadetblue;
}

.inventorylistTable tr:hover{
  background-color: cadetblue;
}

#functions{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  cursor: pointer;
  margin: 15px 25% 0 25%;
  padding: 10px;
}

#functions button {
  position: relative;
  border-radius: 10px;
  background-color: cadetblue;
  border: none;
  padding: 8px;
  cursor: pointer;
}

#functions button:hover {
  background-color: rgb(226, 126, 11);
  color: black;
}

#search-home{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#search-home input[type=text]{
  height: 30px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px rgb(226, 126, 11);
 
}

#search-home button {
  height: 30px;
  padding: 6px; 
  background-color: cadetblue;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container{
  display: grid;
  overflow-x: auto;
  padding: 16px;
}

.container .tableHead{
  display: grid;
  grid-template-columns: repeat(8, 160px);
  grid-auto-columns: minmax(160px, 1fr);
  padding: 16px;
  background-color: cadetblue;
}

.container .book{
  display: grid;
  grid-template-rows: repeat(4, 16px);
  grid-template-columns: repeat(8, 160px);
  grid-auto-columns: minmax(160px, 1fr);
  padding: 16px;
  border: solid 1px cadetblue;
}